/* ========================================== */
/* header is the navbar for all pages */
header {
  display: flex;
  justify-content: flex-end; /* for the main-axis */
  align-items: right; /* for the cross-axis */
  padding: 0px 10%;
  margin: 30px;
  font-size: 130%;
  flex-wrap: wrap;
}

/* for all flexbox containers */
.index-container,
.links-flexbox-container,
.skills-container,
.regular-heading {
  margin-left: 8%;
  margin-right: 8%;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes move {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* ========================================== */
/* for links.html */

.links-flexbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-inline-start: 5%;
  margin-inline-end: 10%;
}

.links-heading {
  /* order: 1;
  /* https://stackoverflow.com/questions/26086515/css-flex-how-to-display-one-item-on-first-line-and-two-on-the-next-line */
  /* grow, shrink, flex-basis */
  flex: 1 0 100%;
  margin-top: -33.5px;
  margin-bottom: 0;
  margin-left: inherit;
}

.linkedIn {
  order: 2;
}
.fa-linkedin:hover {
  color: rgb(245, 255, 101);
}

.gitHub {
  order: 3;
}
.fa-github:hover {
  color: rgb(245, 255, 101);
}

.email {
  order: 4;
}
.fa-envelope:hover {
  color: rgb(245, 255, 101);
}

.freeCodeCamp {
  order: 5;
}
.fa-free-code-camp:hover {
  color: rgb(245, 255, 101);
}
/* color: rgb(245, 255, 101); */
/* ========================================== */
/* FOR THE COPYRIGHT AT BOTTOM OF EACH PAGE */

footer {
  position: fixed;
  height: 50px;
  top: 0px;
  left: 20px;
  margin-bottom: 0px;
  font-size: 70%;
}
