/* Custom Google Font */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  font-family: "Questrial", sans-serif;
  background: #000;
  color: rgb(0, 240, 248);
  box-sizing: border-box;
  width: 100%;
  /* background-image: url("./images/losAngeles.jpg");
  background-repeat: no-repeat; */
  background: url("./images/losAngeles.jpg") no-repeat center center fixed;
  /* https://css-tricks.com/perfect-full-page-background-image/ */
  background-size: cover;
  padding: 0;
}

/* ===================== */
/* for all the nav-links on the nav-bar */
li,
a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 10px px;
}

.nav_links li a:hover {
  color: rgb(245, 255, 101);
}

.regular-heading {
  margin-left: inherit;
  font-size: 3rem;
  margin-bottom: 0;
}

/* ===================== */

#text_bubbles {
  text-align: center;
  line-height: 1.6;
  margin-left: inherit;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 32px; /* within paragraph */
  margin-bottom: 50px; /* between paragraphs */
  padding: 20px;
  border-radius: 25px;
  background: rgb(191, 114, 194, 0.85);
}

#skills_text_bubbles {
  text-align: center;
  line-height: 1.6;
  margin-left: inherit;
  color: rgb(255, 255, 255);
  font-size: 25px;
  line-height: 50px; /* within paragraph */
  margin-bottom: 10px; /* between paragraphs */
  padding: 10px;
  border-radius: 25px;
  background: rgb(191, 114, 194, 0.9);
}

#projects_text_bubbles {
  text-align: center;
  line-height: 1.2;
  margin-left: inherit;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  line-height: 30px; /* within paragraph */
  margin-bottom: 5px; /* between paragraphs */
  padding: 5px;
  border-radius: 25px;
  background: rgb(191, 114, 194, 0.7);
}

#cv-button {
  padding: 0.5em;
  font-size: 1.15rem;
  background: transparent;
  color: var(--textColor);
  border: 2px solid var(--textColor);
  cursor: pointer;
}

#learnMoreBtn {
  padding: 0.5em;
  font-size: 1.15rem;
  background: transparent;
  color: var(--textColor);
  border: 2px solid var(--textColor);
  cursor: pointer;
  border-width: 0.2em;
  border-style: solid;
}
